extends header

block content 
    h2 Reviewed Artworks
    for artwork in reviewed 
        div
        p Title: #{artwork.Title}
        a(href=`/artist/${artwork.Artist.replace(/\s/g, '_')}`) Artist: #{artwork.Artist}
        br
        p Year: #{artwork.Year}
        p Category: #{artwork.Category}
        p Medium: #{artwork.Medium}
        p Description: #{artwork.Description}
        img(src=artwork.Poster)
        br
        span Reviews: #{artwork.Reviews}
        button(type='button', onclick=`location.href='/${artwork.Title.replace(/\s/g, '_')}/unreview'`) Remove Review
        br
        span Likes: #{artwork.Likes}
        
